body{
    padding: 20px;
    background-color: silver;
}
.titulo-pagina h2{
    font-weight: bold;
    text-align: center;
    color: white;
}
.card-panel{
    border-bottom-right-radius: 150px!important;
    border-top-left-radius: 150px!important;
}

.bnt-form{
    margin-top: 20px;
    width: 100%;
}
input[type=text]:not(.browser-default), input[type=password]:not(.browser-default){
    border-bottom: 1px solid #000000 !important;
}
