<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %}</title>
        <!-- Fonto do H2 -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
        <!-- Fonte do body -->
        <link href="https://fonts.googleapis.com/css?family=Exo+2:300,400,700" rel="stylesheet">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/imports/css/main.css">
        <link rel="stylesheet" type="text/css" href="/imports/css/materialize.min.css">
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}
        <!-- CONTEUDO DINAMICO -->
        {% endblock %}
    </div>
</body>
</html>
