{% extends "base.html" %}
{% block title %} {{title}} {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <marquee>
            <div class="col s2">
                <div class="card-panel green">
                    <h2>PERDI</h2>
                </div>
            </div>
        </marquee>
    </div>
</div>



<div class="card-panel green">
    <div class="row">
        <div class="col s12">
            <br>
            <h3>Você acaba de vencer a Copa Tiozão do PAVÊ!!!</h3>
            <br>
            <br>
            <h1>Parabéns <b>{{jogador.nick}}</b>, you eh um WINNNER !!!</h1>
            <br>
        </div>
    </div>
</div>
<br>
<form action="/winner" method="POST">
    <div class="row">
        <div class="col s6 offset-s3">
            <button type="submit" class="btn-large waves-effect waves-light bnt-form">
                Reiniciar
            </button>
        </div>
    </div>
</form>
{% endblock %}
