{% extends "base.html" %}
{% block title %} {{title}} {% endblock %}
{% block head %} {{ super() }} {% endblock %}

{% block content %}
<div class="row" style="margin-bottom:0px">
    <div class="col s8 offset-s2">
        <div id="you-winner">
            <p>Você ganhou a Copa Tiozão do PAVÊ!!!</p>
        </div>
    </div>
</div>
<br>
<div class="card-panel blue-grey lighten-2">
    <div class="row">
        <div class="col s12">
            <h2>Parabéns <b>{{jogador.nick}}</b>, you eh um WINNNER !!!</h2>
        </div>
    </div>
</div>
<form action="/winner" method="POST">
    <div class="row">
        <div class="col s6 offset-s3">
            <button type="submit" class="btn-large waves-effect waves-light bnt-form">
                Reiniciar
            </button>
        </div>
    </div>
</form>
<br> <br> <br> <br> <br> <br>
<marquee>
    <h6>Você é Topper!!!</h6>
</marquee>
{% endblock %}
